.card{
    margin: 10px;
}

.back{
    background-color: blue;
    height: 100px;
    width: 100px;
    padding: 20px;
}

.front{
    background-color: red;
    height: 100px;
    width: 100px;
    padding: 20px;

}