.card{
    margin: 10px;
    margin: 10px;
    border: 1px solid #333;
    width: 120px;
    height: 170px;
    line-height: 3em;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #555; 
    cursor: pointer;
    font-family: 'Saira Stencil One', cursive;
    font-size: 60px;
}

.back{
    background-color: #82589F;
    transform: rotateY(180deg);
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.front{
    background-color: #D6A2E8;
    transform: rotateY(180deg);
    transform: scaleY(1);

    transition: transform 0.6s;
    transform-style: preserve-3d;
}
